/.vs
/Binaries
/Content
/Intermediate
/Saved
/Content
/Build
/Plugins
/Assets
**/Landscape
**/Megascans
**/StarterContent


.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.sln
*_BuiltData.uasset